@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap");
@media (max-width: 59.3125em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 59.375rem) {
  .hide-for-desktop {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #f1eff7;
}

p {
  margin: 0;
}

.coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 59.375rem) {
  .coins {
    font-size: 1.1rem;
  }
}

.coins-instructions {
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171123;
  text-align: center;
}

.tableHeader {
  padding: 0 0.5rem;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
      grid-template-areas: "header-name header-mcap"  "header-name header-price";
  gap: 0.5rem;
}

@media (min-width: 59.375rem) {
  .tableHeader {
    -ms-grid-columns: auto 3fr 1fr 1fr;
        grid-template-columns: auto 3fr 1fr 1fr;
        grid-template-areas: "header-rank header-name header-mcap header-price";
    gap: 1.5rem;
  }
}

.tableHeader-rank {
  grid-area: header-rank;
}

.tableHeader-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header-name;
  justify-self: flex-start;
  padding-left: 1rem;
}

.tableHeader-mcap {
  justify-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-mcap;
}

.tableHeader-price {
  justify-self: flex-end;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header-price;
}

.coin {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  border: solid 2px #372248;
  background-color: #eeeff5;
  color: #171123;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.coin:hover {
  cursor: pointer;
  background-color: #c0d0de;
}

.coin.details-visible {
  background-color: #414770;
  color: #eeeff5;
  border: solid 2px #5B85AA;
}

.coin-content {
  display: -ms-grid;
  display: grid;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.2fr auto auto;
      grid-template-columns: 0.2fr auto auto;
      grid-template-areas: "icon name mcap" "icon rank price";
  gap: 1rem;
}

@media (min-width: 59.375rem) {
  .coin-content {
    -ms-grid-columns: 0.2fr auto 3fr 1fr 1fr;
        grid-template-columns: 0.2fr auto 3fr 1fr 1fr;
        grid-template-areas: "rank icon name mcap price";
  }
}

.coin-content-rank {
  justify-self: flex-start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rank;
}

@media (min-width: 59.375rem) {
  .coin-content-rank {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.coin-content-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 30px;
  height: 30px;
}

.coin-content-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.8rem;
}

.coin-content-mcap {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mcap;
}

.coin-content-price {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: price;
}

.coin-details {
  display: none;
  grid-area: details;
  line-height: 1.9;
}

.coin-details ul {
  list-style-type: none;
  margin: 0;
}

.coin-details.details-visible {
  display: block;
}

.wallet-portfolio {
  text-align: center;
}

.wallet-coins {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.wallet-coin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "icon amount" "icon usd";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: solid 2px #372248;
  background-color: #eeeff5;
  color: #171123;
  width: 100%;
}

.wallet-coin-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 40px;
  height: 40px;
}

.wallet-coin-amount {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: amount;
  color: #5B85AA;
}

.wallet-coin-usd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: usd;
  font-weight: 700;
}

.swap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 95%;
  max-width: 800px;
}

@media (min-width: 59.375rem) {
  .swap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.swap-trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 95%;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.swap-trade .swap-select {
  width: 100%;
  color: #171123;
  z-index: 2;
}

.swap-trade-sell .swap-select {
  z-index: 3;
}

.swap-trade-sell, .swap-trade-buy {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #c0d0de;
  color: #171123;
  border: solid 2px #5B85AA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.swap-trade-sell h2, .swap-trade-buy h2 {
  margin: 0;
}

.swap-trade-sell input, .swap-trade-buy input {
  width: 100%;
  background-color: #eeeff5;
  color: #171123;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.swap-trade-sell h3, .swap-trade-buy h3 {
  margin: 0;
}

.swap-trade-sell p, .swap-trade-buy p {
  margin: 0;
  font-size: 0.9rem;
}

.swap-trade-confirm {
  position: relative;
  width: 200px;
}

.swap-trade-confirm-button {
  border-radius: 0.5rem;
  border: solid 2px #372248;
  background-color: #414770;
  padding: 1rem;
  width: 100%;
  color: #eeeff5;
  font-weight: 700;
  font-size: 1.3rem;
}

.swap-trade-confirm-button:hover {
  cursor: pointer;
  background-color: #eeeff5;
  color: #414770;
}

.swap-trade-confirm-button.invalid {
  opacity: 50%;
  background-color: #372248;
  color: #c0d0de;
}

.swap-trade-confirm-invalid {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.swap-trade-invalid-text {
  text-align: center;
  font-size: 0.9rem;
  color: #F46036;
  font-weight: 700;
}

.swap-wallet {
  border-radius: 0.5rem;
  background-color: #fcd3c7;
  color: #171123;
  border: solid 2px #171123;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 95%;
}

.swap-wallet h3 {
  margin: 0;
  text-align: center;
}

.swap-wallet-coin {
  border-radius: 0.5rem;
  background-color: #eeeff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0.5rem;
  width: 100%;
}

.swap-wallet-coin-icon {
  width: 40px;
  height: 40px;
}

.swap-wallet-coin-amount {
  margin: 0;
}

.swap-wallet-coin-usd {
  margin: 0;
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.nav-buttons {
  padding: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (min-width: 40em) {
  .nav-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
  }
}

.nav-buttons button {
  font-family: 'JetBrains Mono', monospace;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  color: #372248;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0;
}

@media (min-width: 59.375rem) {
  .nav-buttons button {
    font-size: 1.2rem;
  }
}

.nav-buttons button.selected {
  color: #F46036;
  border-bottom: 3px solid #F46036;
}

.nav-buttons button:hover:not(.selected) {
  cursor: pointer;
  color: #5B85AA;
  border-bottom: 3px solid #5B85AA;
}
/*# sourceMappingURL=index.css.map */