@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap");
@media (max-width: 59.3125em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 59.375rem) {
  .hide-for-desktop {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #f1eff7;
}

p {
  margin: 0;
}

.coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 59.375rem) {
  .coins {
    font-size: 1.1rem;
  }
}

.coins-instructions {
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171123;
  text-align: center;
}

.tableHeader {
  padding: 0 0.5rem;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
      grid-template-areas: "header-name header-mcap"  "header-name header-price";
  gap: 0.5rem;
}

@media (min-width: 59.375rem) {
  .tableHeader {
    -ms-grid-columns: auto 3fr 1fr 1fr;
        grid-template-columns: auto 3fr 1fr 1fr;
        grid-template-areas: "header-rank header-name header-mcap header-price";
    gap: 1.5rem;
  }
}

.tableHeader-rank {
  grid-area: header-rank;
}

.tableHeader-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: header-name;
  -ms-grid-column-align: start;
      justify-self: start;
  padding-left: 1rem;
}

.tableHeader-mcap {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-mcap;
}

.tableHeader-price {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header-price;
}

.coin {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  border: solid 2px #372248;
  background-color: #eeeff5;
  color: #171123;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.coin:hover {
  cursor: pointer;
  background-color: #c0d0de;
}

.coin.details-visible {
  background-color: #414770;
  color: #eeeff5;
  border: solid 2px #5B85AA;
}

.coin-content {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 0.2fr auto auto;
      grid-template-columns: 0.2fr auto auto;
      grid-template-areas: "icon name mcap" "icon rank price";
  gap: 1rem;
}

@media (min-width: 59.375rem) {
  .coin-content {
    -ms-grid-columns: 0.2fr auto 3fr 1fr 1fr;
        grid-template-columns: 0.2fr auto 3fr 1fr 1fr;
        grid-template-areas: "rank icon name mcap price";
  }
}

.coin-content-rank {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rank;
}

@media (min-width: 59.375rem) {
  .coin-content-rank {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.coin-content-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 30px;
  height: 30px;
}

.coin-content-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0.8rem;
}

.coin-content-mcap {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mcap;
}

.coin-content-price {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: price;
}

.coin-details {
  display: none;
  grid-area: details;
  line-height: 1.9;
}

.coin-details ul {
  list-style-type: none;
  margin: 0;
}

.coin-details.details-visible {
  display: block;
}

.wallet-portfolio {
  text-align: center;
}

.wallet-coins {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.wallet-coin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "icon amount" "icon usd";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: solid 2px #372248;
  background-color: #eeeff5;
  color: #171123;
  width: 100%;
}

.wallet-coin-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 40px;
  height: 40px;
}

.wallet-coin-amount {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: amount;
  color: #5B85AA;
}

.wallet-coin-usd {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: usd;
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.nav-buttons {
  padding: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.nav-buttons button {
  font-family: 'JetBrains Mono', monospace;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  color: #372248;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0;
}

@media (min-width: 59.375rem) {
  .nav-buttons button {
    font-size: 1.2rem;
  }
}

.nav-buttons button.selected {
  color: #F46036;
  border-bottom: 3px solid #F46036;
}

.nav-buttons button:hover:not(.selected) {
  cursor: pointer;
  color: #5B85AA;
  border-bottom: 3px solid #5B85AA;
}
/*# sourceMappingURL=index.css.map */