//Colors
$xiketic: #171123;
$white: #EEE5E9;
$russian-violet: #372248;
$purple-navy: #414770;
$steel-blue: #5B85AA;
$portland-orange: #F46036;
$lighter-xiketic: lighten($xiketic, 85%);
$lighter-purple-navy: lighten($purple-navy, 60%);
$lighter-steel-blue: lighten($steel-blue, 30%);
$lighter-portland-orange: lighten($portland-orange, 30%);